[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
treblle = "*"
python-decouple = "*"
pyjwt = "*"
black = "*"
django-cors-headers = "==1.1.0"
djangorestframework = "*"
djoser = "*"
pandas = "*"
install = "*"
djangorestframework-simplejwt = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.11"
